# dependencies
node_modules
Backend/node_modules
Frontend/node_modules

# environment files
.env
Backend/.env
Frontend/.env

# build files
dist
build
Frontend/dist

# logs
*.log

# OS files
.DS_Store
Thumbs.db

# editor
.vscode
.idea